Pro{
    font-size: large;
    color: beige;
    background-color: aqua;
}
Business{
   font-size: large;
   color: beige;
   background-color: blue;
}
Dev{
    font-size: large;
    color: beige;
    background-color: aqua;
}